
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cabecalho {
  display: flex;  
  width: 100%;
  background-size: 60%;
  justify-content: space-evenly;
}

h1 {
  width: 100%;
  margin-top: 10px;
  background-color: #023047;
  color: white;
  box-shadow: 5px 10px #fb8500;
  align-self: center;
}

#img-cabecalho {
  height: 300px;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#logotxt {
  font-size: 30px;
}

#logo {
  height: 80px;
}

.navbar, footer {
  background-color: #8ecae6;
  color:black;
  width: 100%;
}

footer {
  display: flex;
  text-align: center;

}


h2 {
  margin-top: 50px;
  text-align: center;
}

button {
  border-radius: 10px;
  cursor: pointer;
  
}

.card {
  border: 0.5px solid;
  border-radius: 8px;
  width: 80%;
  text-align: justify;
  margin-left: 12%;
  box-shadow: 5px 10px #023047;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card img {
  height: 200px;
  width: 100%;
  
}

.card:hover{
  scale: 1.1;
}

.secoes {
  margin: 30px 0px 0px 10px;
}

.itens {
  list-style-type: none;
  text-align: left;
}

#localizacao, .duracao, #check {
  height: 20px;
  width: 8%;
}


.precoantigo {
  font-size: 20px;
  text-decoration: line-through;

}

.precopromocional {
  font-size: 30px;
  font-weight: bold;
}

#rodape {
  background-color: #8ecae6;
  color: black;
  margin-top: 50px;
}

#logotxt {
  font-size: 30px;
}

#logo {
  height: 70px;
}

#social img {
  height: 30px;
}

